html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

.mind_mainmenu {
    height: 20px;
    max-height: 20px;
}

.mind_toptoolbar {
    height: 100px;
    min-height: 100px;
    max-height: 50px;

}


.mind_renderarea {
    position: relative;
    float: left;
}

.mind_propertybar {
    width: 120px;
    max-width: 200px;
    position: relative;
    float: left;
}

.mind_bottommenu {
    height: 20px;
    max-height: 100px;
}

.mindUI_topBar_Btn_Tool {
    width: 28px;
    height: 28px;
    margin: 4px;
    font-size: 9pt;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.mindUI_topToolbarPanel {
    float: left;
    color: black;
    padding: 4px;
    font-size: 8pt;
}

.mindUI_topToolbarSplitter {
    float: left;
    width: 2px;
    vertical-align: center;
    height: 48px;
    margin: 8px;
    background-color: #a7a7a7;
    user-select: none;
}

canvas {
    width: 100%;
    height: 100%;
}