html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

.mind_mainmenu {
    height: 20px;
    max-height: 20px;
}

.mind_toptoolbar {
    float: left;
    width: 100%;
    height: 64px;
    color: black;
    background-color: #e6e6e6;
    overflow: hidden;
    user-select: none;
    font-size: 7pt;
}


.mind_renderarea {
    position: relative;
    float: left;
}

.mind_propertybar {
    width: 200px;
    max-width: 200px;
    position: relative;
    float: left;
}

.mind_bottommenu {
    height: 20px;
    max-height: 100px;
}

.mindUI_topBar_Btn_Tool {
    width: 28px;
    height: 28px;
    margin: 4px;
    font-size: 9pt;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.mindUI_topToolbarPanel {
    float: left;
    color: black;
    padding: 4px;
    font-size: 8pt;
}

.mindUI_topToolbarSplitter {
    float: left;
    width: 2px;
    vertical-align: center;
    height: 48px;
    margin: 8px;
    background-color: #a7a7a7;
    user-select: none;
}

canvas {
    width: 100%;
    height: 100%;
}



/*
    Property Bar
*/
.mindUI_ViewType_Btn {
    width: 95px;
    height: 45px;
    float: left;
    position: relative;
}

.mind_Structure_Text {
    width: 95px;
    height: auto;
    float: left;
    position: relative;
}

.mindUI_Structure_Select {
    width: 95px;
    height: 21px;
    float: left;
    position: relative;
}

.mindUI_Topic_Text {
    width: 95px;
    height: 21px;
    float: left;
    position: relative;
}

.mindUI_Topic_Select {
    width: 95px;
    height: auto;
    float: left;
    position: relative;
}

.mindUI_Fill {
    width: 200px;
    float: left;
    position: relative;
}
.mindUI_Fill_Label {
    width: 130px;
}
.mindUI_Fill_Radio {
    width: 10px;
    float: left;
    position: relative;
}

.mindUI_Fill_Input {
    width: 20px;
    float: left;
    position: relative;
}

.mindUI_Border_Check {

}

.mindUI_FixedWidth_Check {

}

.mindUI_Flexible {
    float: left;
    position: relative;
}